.section-faq {
  padding-top: 30px;
  background-color: #f5fcff;
  @include tab {
    padding-top: 90px;
  }
  .faq-heading {
    .section-heading-bg {
      top: 0;
      @include tab {
        top: -50px;
      }
    }
  }
  .faq {
    width: 90%;
    @include tab {
      border-radius: 16px;
    }
    .question {
      width: 100%;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      list-style: none;
      cursor: pointer;
      padding: 20px 32px 12px 48px;
      border-bottom: 1px solid $dark-blue;
      @include tab {
        padding: 40px 64px 16px 72px;
      }
      &:before {
        position: absolute;
        content: "Q";
        font-family: "Open Sans", sans-serif;
        font-size: 28px;
        font-weight: bold;
        color: $dark-blue;
        top: calc(50% + 6px);
        left: clamp(12px, calc((27 / 640) * 100vw), 27px);
        transform: translateY(-50%);
        @include tab {
          font-size: 40px;
        }
      }
      .question-text {
        margin-bottom: 0;
        text-align: start;
        width: 100%;
      }
      .icon-closed {
        position: absolute;
        top: calc(50% + 6px);
        right: 10px;
        transform: translateY(-50%);
        transition: 0.3s all ease;
        font-size: 12px;
        @media screen and (min-width: 768px) {
          right: 40px;
          font-size: 20px;
        }
      }
      .icon-opened {
        @extend .icon-closed;
        transform: translateY(-50%) rotate(180deg);
      }
    }
    .answer {
      display: none;
      padding: 20px 0px 0 48px;
      color: #000;
      position: relative;
      @include tab {
        padding: 20px 0px 0 72px;
      }
      &:before {
        position: absolute;
        content: "A";
        font-family: "Open Sans", sans-serif;
        font-size: 28px;
        font-weight: bold;
        color: #333;
        top: 40px;
        left: clamp(12px, calc((27 / 640) * 100vw), 27px);
        transform: translateY(-50%);
        @include tab {
          font-size: 40px;
        }
      }
    }
  }
  .faq-btn-wrapper {
    margin-top: 40px;
    @include tab {
      margin-top: 60px;
    }
    .faq-text-top {
      position: relative;
      width: fit-content;
      font-size: 14px;
      margin-bottom: 12px;
      @include tab {
        font-size: 16px;
        margin-bottom: 16px;
      }
      &:before {
        content: "";
        position: absolute;
        width: 1px;
        height: 20px;
        background-color: $dark-blue;
        border-radius: 0.5px;
        top: 50%;
        left: -12px;
        transform: translateY(-50%) rotate(-20deg);
      }
      &:after {
        content: "";
        position: absolute;
        width: 1px;
        height: 20px;
        background-color: $dark-blue;
        border-radius: 0.5px;
        top: 50%;
        right: -12px;
        transform: translateY(-50%) rotate(20deg);
      }
    }
    .faq-btn {
      width: 300px;
      padding: 12px 0;
      font-size: 16px;
      position: relative;
      box-shadow: 4px 4px 30px 0px rgba(0, 0, 0, 0.15);
      @include tab {
        font-size: 18px;
        padding: 16px 0;
      }
      &:hover {
        .arrow {
          right: 8px;
        }
      }
      .arrow {
        position: absolute;
        top: 50%;
        right: 12px;
        transform: translateY(-50%);
        transition: 0.3s all ease;
      }
    }
  }
}
