.plan {
  background-color: #f5fcff;
  padding-top: 60px;
  padding-bottom: 60px;
  .plan-block {
    border: 1px solid #d0deff;
    box-shadow: 4px 4px 30px 0px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 80%;
    margin-bottom: 32px;
    @include tab {
      padding: 36px 40px 40px;
    }
    .plan-title {
      max-width: 400px;
      font-size: 20px;
      position: relative;
      margin-bottom: 20px;
      padding: 4px 0 10px;
      text-transform: uppercase;
      padding: 8px 0;
      &:before {
        content: "";
        position: absolute;
        width: 8px;
        height: 8px;
        background-color: #fff;
        border-radius: 50%;
        top: 50%;
        left: 6px;
        transform: translateY(-50%);
        @include tab {
          left: 20px;
        }
      }
      &:after {
        content: "";
        position: absolute;
        width: 8px;
        height: 8px;
        background-color: #fff;
        border-radius: 50%;
        top: 50%;
        right: 6px;
        transform: translateY(-50%);
        @include tab {
          right: 20px;
        }
      }
      @include tab {
        font-size: 24px;
        margin-bottom: 24px;
        padding: 12px 0;
      }
    }
    .plan-inner {
      gap: 20px;
      @include tab {
        gap: 36px;
      }
      .plan-img {
        width: 100%;
        flex-shrink: 0;
        @include tab {
          width: 300px;
        }
      }
      .plan-text {
        .plan-desc {
          font-size: 12px;
          margin-bottom: 8px;
          @include tab {
            font-size: 14px;
          }
        }
        .plan-price {
          font-size: 28px;
          color: #00a4ff;
          @include tab {
            font-size: 36px;
          }
          .plan-price-small {
            font-size: 20px;
            @include tab {
              font-size: 28px;
            }
          }
        }
      }
    }
  }
  .plan-note {
    border: 1px solid #d0deff;
    box-shadow: 4px 4px 30px 0px rgba(0, 0, 0, 0.1);
    width: 80%;
    margin-bottom: 32px;
    .plan-note-heading {
      font-size: 18px;
      padding: 10px 0;
      @include tab {
        font-size: 24px;
        padding: 20px 0;
      }
    }
    .plan-note-text {
      font-size: 14px;
      padding: 12px;
      @include tab {
        font-size: 16px;
        padding: 20px 16px;
      }
    }
  }
}
